@import url("https://fonts.googleapis.com/css?family=Dosis:400,500,600,700|PT+Sans+Narrow:400,700&display=swap");

$heading-color: #2e3d5b;
$section-bg: #ecf3fc;
$btn-color: #635dff;
$logo-color: #6296f9;
$numbers-color: #2dcbbd;
$footer-bg: #3C4E60;

@mixin sm-size {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin md-size {
  @media (max-width: 992px) {
    @content;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.my-padding {
  padding: 4rem 0;
}

section {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: capitalize;
  color: $heading-color;
  font-weight: 700;
  word-spacing: 1px;
}

h3 {
  line-height: 1.1;
}

p {
  color: $heading-color;
  line-height: 1.4rem;
  font-weight: 600;
}

.see-more {
  font-weight: 700;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: $btn-color;
  text-transform: capitalize;

  &:hover {
    color: darken($btn-color, 30);
    text-decoration: none;
  }
}

.nav-container {
  @include sm-size() {
    width: 100%;
    max-width: 100%;
  }

  nav {
    &.navbar {
      padding: 0;

      @include sm-size() {
        padding: 10px 0;
      }

      .navbar-brand {
        color: $heading-color;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: capitalize;
        font-size: 1.4rem;

        span {
          color: $logo-color;
        }
      }

      .navbar-toggler {
        border: none;

        &:focus {
          outline: none;
        }
      }

      .navbar-nav {
        .nav-item {
          position: relative;
          margin: 0 10px;

          &.active {
            &::before {
              content: " ";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 3px;
              background-color: $btn-color;

              @include sm-size() {
                display: none;
              }
            }
          }

          .nav-link {
            padding: 20px 0;
            font-weight: 500;
            font-size: 1.1rem;

            @include sm-size() {
              padding: 8px 0;
            }
          }
        }
      }
    }

    &.navbar-light {
      background-color: #fff !important;
    }
  }
}

.header {
  overflow: hidden;

  .container {
    @include sm-size() {
      width: 100%;
      max-width: 100%;
    }
  }

  .mobile-header {
    @include sm-size() {
      padding: 0;
    }
  }

  .left-side {
    position: relative;
    padding-right: 7rem;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @include md-size() {
      padding-right: 1rem;
    }

    @include sm-size() {
      display: block;
      text-align: center;
      padding: 60px 40px;
      background-image: url("./media/business.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      z-index: 0;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: -1;
      }

      h1,
      p {
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      }
    }

    h1 {
      font-size: 3rem;
      align-self: flex-start;
      text-transform: capitalize;
      display: inline-block;
      margin-bottom: 1.5rem;
      word-spacing: none;

      @include md-size() {
        font-size: 3rem;
      }

      @include sm-size() {
        display: inline-block;
        width: 100%;
        text-align: center;
      }
    }

    p {
      margin-bottom: 7rem;

      @include md-size() {
        margin-bottom: 4rem;
      }

      @include sm-size() {
        margin-bottom: 7rem;
      }
    }

    form {
      width: 100%;

      input {
        border: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        padding: 5px 10px;
        width: 60%;
        margin-right: 30px;

        @include sm-size() {
          background: transparent;
          color: #fff;
          border-color: rgba(255, 255, 255, 0.7);

          &::placeholder {
            color: #fff;
          }
        }

        &:focus {
          outline: none;
        }
      }

      button {
        border-radius: 30px;
        padding: 10px 20px;
        background-color: $btn-color;
        border-color: $btn-color;

        @include md-size() {
          padding: 5px 10px;
        }

        @include sm-size() {
          padding: 10px 20px;
        }
      }
    }
  }

  .right-side {
    @include sm-size() {
      display: none;
    }

    img {
      width: 140%;
    }
  }
}

.popular-courses {
  padding: 5rem 0;

  @include sm-size() {
    padding: 4rem 0;
  }

  .text-area {
    margin-top: 5rem;
    height: 100%;

    @include sm-size() {
      margin-top: 0;
      text-align: center;
      margin-bottom: 3rem;
    }

    h3 {
      display: inline-block;
      width: 50%;
      font-size: 2.4rem;
      margin-bottom: 0.7rem;

      @include sm-size() {
        width: 100%;
        text-align: center;
      }
    }

    p {
      margin-bottom: 5rem;

      @include sm-size() {
        margin-bottom: 1rem;
      }
    }
  }

  .card {
    border: none;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.13);
    border-radius: 1.2rem;
    margin-bottom: 2rem;

    img {
      border-top-left-radius: 1.2rem;
      border-top-right-radius: 1.2rem;
    }

    .card-body {
      padding-right: 3rem;
      padding: 1.2rem 3rem 2rem 1.5rem;

      h5 {
        display: inline-block;
        width: 90%;
      }

      p {
        font-weight: 500;
        line-height: 1.4;
        opacity: 0.9;
        margin-bottom: 2rem;
      }

      a {
        letter-spacing: 0;
        word-spacing: 0;
        font-weight: 600;
        font-size: 1rem;
      }
    }
  }
}

.wwp {
  padding: 3.5rem 0;
  background-color: $section-bg;

  .row {
    margin-bottom: 2rem;

    img {
      border-radius: 3px;
    }

    .text-area {
      margin-top: 3rem;

      @include sm-size() {
        margin-top: 1rem;
      }
    }
  }

  .r-1 {
    @include sm-size() {
      .text-area {
        order: 2;
      }

      img {
        order: 1;
      }
    }
  }
}

.achievements {
  .text-area {
    margin: 0 auto;

    h3 {
      font-size: 2rem;
      margin-bottom: 1.3rem;
    }

    p {
      margin-bottom: 6rem;
    }
  }

  .number-cards {
    width: 100%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      height: 4px;
      width: 30px;
      background: linear-gradient(90deg,
          rgba(255, 175, 0, 1) 0%,
          rgba(255, 255, 255, 1) 80%);
      border-radius: 3px;

      @include sm-size() {
        display: none;
      }
    }

    &.first-card {
      &::after {
        display: none;
      }
    }

    p {
      text-transform: capitalize;
      color: rgba(0, 0, 0, 0.6);
      line-height: 2rem;

      span {
        color: $numbers-color;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1px;
      }

      @include sm-size() {
        margin-bottom: 2rem;
      }
    }
  }
}

.wocs {
  overflow: hidden;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(236, 243, 252, 1) 100%);

  .container-fluid {
    padding: 0;
  }

  .title {
    background: #fff;
    padding: 3rem 0;

    h3 {
      font-size: 2.3rem;
      word-spacing: 3px;
      letter-spacing: 1px;
    }
  }

  .row {
    .text-area {
      margin-top: 2.5rem;

      @include md-size() {
        margin-top: 0;
      }

      @include sm-size() {
        order: 2;
        margin: 0 3rem;
      }

      h5 {
        letter-spacing: 1px;
        margin-bottom: 1rem;

        @include md-size() {
          margin-bottom: 0.3rem;
        }

        &.writer {
          margin-bottom: 0.3rem;

          @include md-size() {
            margin-bottom: 0.1rem;
          }
        }
      }

      p {
        margin-bottom: 1.6rem;
        color: rgba(0, 0, 0, 0.6);

        @include md-size() {
          margin-bottom: 1rem;
        }
      }

      span {
        display: block;
        margin-bottom: 3rem;
        color: rgba(0, 0, 0, 0.5);

        @include md-size() {
          margin-bottom: 1rem;
        }
      }

      a {
        color: $numbers-color;
      }
    }

    .image {
      @include sm-size() {
        order: 1;
      }

      .image-container {
        @include sm-size() {
          margin: 1rem 3rem 2rem;
        }

        position: relative;

        .mark {
          position: absolute;
          top: -25px;
          left: -25px;
          height: 55px;
          width: 55px;
          background-color: $numbers-color;
          border-radius: 50%;

          span {
            line-height: 0;
            font-size: 4rem;
            color: #fff;
          }
        }
      }
    }
  }
}

.blog {
  .text-area {
    margin: 0 auto 5rem;

    h3 {
      font-size: 2.6rem;
      margin-bottom: 1.5rem;
    }

    p {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  .row {
    span {
      display: inline-block;
      color: $logo-color;
      font-weight: 600;
      font-size: 1.2rem;
      margin-bottom: 0.6rem;
    }

    .see-more {
      font-size: 0.8rem;
      opacity: 0.7;
    }

    .text {
      margin-top: 3rem;
      padding-left: 4rem;

      @include sm-size() {
        margin-top: 0.6rem;
        margin-bottom: 3rem;
        padding-left: 0;
      }

      p {
        width: 50%;
        color: rgba(0, 0, 0, 0.6);
      }
    }

    .my-card {
      background-color: #f1f1f1;
      margin-bottom: 2rem;
      padding: 1.5rem 2rem;

      p {
        margin-bottom: 2rem;
        width: 70%;

        @include md-size() {
          width: 100%;
        }

        @include sm-size() {
          width: 70%;
        }
      }
    }
  }
}

.email {
  h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .my-form {
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 30px;

    input[type="email"] {
      background-color: transparent;
      border: none;
      padding: 0.6rem 1rem;
      width: 270px;
    }

    input[type="submit"] {
      padding: 0.6rem 0.8rem;
      border-radius: 30px;
      border: none;
      background-color: $btn-color;
      color: #fff;
      font-weight: 600;
      letter-spacing: 1px;
    }

    input:focus {
      outline: none;
    }
  }
}

footer {
  background-color: $footer-bg;
  color: #fff;

  .text-area {
    @include sm-size() {
      margin-bottom: 3rem;
    }

    span {
      display: inline-block;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 1.2rem;
      letter-spacing: 1px;
      opacity: 0.9;
      margin-bottom: 0.7rem;
    }

    p,
    .socials i {
      color: rgba(255, 255, 255, 0.4);

      &.first-p {
        margin-bottom: 2.7rem;
      }
    }

    .socials {
      i {
        margin-right: 7px;
      }
    }
  }

  .features,
  .services {
    span {
      display: block;
      color: rgba(255, 255, 255, 0.4);
      letter-spacing: 1px;
      margin-bottom: 1rem;
    }

    a {
      display: block;
      color: #fff;
      margin-bottom: 0.6rem;
      text-transform: capitalize;

      &:hover {
        text-decoration: none;
      }
    }
  }
}